---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";
const { copyright, location, email, phone, footer_description } = config.params;
const pctester = markdownify(copyright)
---
<footer class="footer bg-[#F1F1F1]">
  <div class="container">
    <div class="grid gap-2  md:gap-0 md:grid-cols-1 pb-10 pt-4 md:grid-cols-12">
      <div class="col-12 mt-12 md:col-span-6 lg:col-span-3 md:text-left md:justify-self-start">
        <Logo />
        <p class="mt-6 text-center md:text-left">
          {footer_description}
        </p>
      </div>
      <div class="col-12 mt-12 md:col-span-6 lg:col-span-3 md:col-start-7 lg:col-start-10 md:text-left md:justify-self-start">
        <h6>Ubicación y contacto</h6>
        <ul>
          <li class="mb-2">{location}</li>
          <li class="mb-2">
            <a class="mb-2 hover:text-primary" href={`mailto:${email}`}
              >{email}</a
            >
          </li>
          <li>
            <a class="hover:text-primary hover:underline" href={`tel:${phone}`}
              >{phone}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center"
    >
      <p class="content text-text">
        {new Date().getFullYear()} Desarrollado por <a
          href="http://pctester.cl"
          target="_blank">{pctester}</a
        >
      </p>
    </div>
  </div>
</footer>
