---

import config from '@/config/config.json';
import Base from '@/layouts/Base.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

const entry = (await getEntry(
  'contact',
  '-index'
)) as CollectionEntry<'contact'>;
const { contact_form_action } = config.params;
const contact = entry.data;
const page_data = {
  ...contact,
  content: entry.body
};

const description = `Tienes dudas, comentarios o sugerencias? ¡Nos encantaría saber de ti! Por favor, completa el formulario a continuación y nos pondremos en contacto contigo lo antes posible.`;
---

<Base
  title="Contacto | Constructora Aragón Ltda."
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container col-11 md:col-8 lg:col-6 mx-auto">
      <div class="row justify-center">
        <h1 class="text-center" set:html="Contáctanos!" />
        <p class="text-base text-center text-gray-900" set:html={description} />
      </div>
    </div>
  </section>

  <section class="section pt-0 mx-auto">
    <div class="container col-11 md:col-8 lg:col-6 mx-auto">
      <div class="row justify-center">
        <div class="py-10 col-11 md:col-10 lg:col-10">
          <form
            class="lg:mx-4 mx-auto"
            action={contact_form_action}
            method="POST"
            name="contact"
            netlify-honeypot="bot-field"
            data-netlify="true"
          >
            <div class="form-group mb-5">
              <label class="form-label" for="name">Nombre completo</label>
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Ingrese su nombre completo"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="eamil">Correo electrónico</label>
              <input
                class="form-control"
                type="text"
                id="email"
                placeholder="Ingrese su correo electrónico"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="asunto">Asunto</label>
              <input
                class="form-control"
                type="text"
                id="asunto"
                placeholder="Asunto"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="message">Mensaje</label>
              <textarea class="form-control" id="message" cols="30" rows="6"
              ></textarea>
            </div>
            <input
              class="btn btn-primary block w-full"
              type="submit"
              value="Enviar Mensaje"
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
